.callout{
    display: flex;
    width: 1920px;
    height: 500px;
    background: #1B3764;
    margin: 0 auto;
    .callout__content{
        display: flex;
        align-items: center;
        margin: 37px 276px 36px 310px;
        width: 1334px;
        height: 427px;
        .callout__content-text{
            width: 567px;
            height: 262px;
            .callout__content-text-h3{
                color: #FFF;
                font-family: 'Cardo';
                font-size: 45px;
                font-style: normal;
                font-weight: 700;
                line-height: 120%;
                letter-spacing: -0.9px;
            }
            .callout__content-text-line{
                margin-top: 22px;
                width: 55px;
                height: 3px;
                background: #FFCA42;
            }
            .callout__content-text-lorem{
                padding-top: 22px;
                color: #B4C7E7;
                font-family: 'Inter';
                font-size: 19px;
                font-style: normal;
                font-weight: 400;
                line-height: 180%;
                letter-spacing: -0.19px;
            }
            .callout__content-text-button{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 28.5px;
                width: 220px;
                height: 65px;
                border: 1px solid #FFCA42;
                background: #1b376400;
                color: #FFF;
                text-align: center;
                font-family: Cardo;
                font-size: 19px;
                font-style: normal;
                font-weight: 700;
                line-height: 125%;
                letter-spacing: 0.38px;
            }
            .callout__content-text-button:hover{
                background: #355a96;
            }
        }
    }
}