.testimonials{
    background: #fff;
    height: 1400px;
    margin: 0 auto;
 }
 
 .h1__temp{
    color: #1B3764;
    font-family: Cardo;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: -0.9px;
    margin-left: 200px;
    margin-top: 240px;
    position: absolute;
 }
 
 .p__temp{
    color: #969AA0;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
    letter-spacing: -0.19px;
    margin-left: 200px;
    margin-top: 485px;
    position: absolute;
 }
 
 .group__div{
    margin-left: 200px;
    margin-top: 632px;
 }
 
 .number{
    color: #1B3764;
    font-family: Cardo;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    letter-spacing: -0.22px;
    margin-left: 340px;
    margin-top: -30px;
 }
 
 .overall{
    color: #1B3764;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 34.2px */
    letter-spacing: -0.19px;
    margin-left: 200px;
 }
 
 .q1{
    width: 370px;
    height: 309px; 
    background: #1B3764;
    margin-left: 780px;
    margin-top: -500px;
 }
 
 .man__div{
    margin-left: 20px;
    margin-top: 20px;
 }
 
 .p__p{
    color: #FFF;
    font-family: Cardo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
    letter-spacing: -0.48px;
    margin-left: 120px;
    margin-top: -70px;
 }
 
 .ye__img{
    margin-left: 120px;
 }
 
 .i__p{
    margin-left: 20px;
    color: #FFF;
    font-family: Cardo;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 26.4px */
    letter-spacing: -0.22px;
    margin-top: 20px;
 }
 
 .LL{
    color: #B4C7E7;
    font-family: Inter;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: 180%; /* 34.2px */
    letter-spacing: -0.19px;
    margin-left: 20px;
    margin-top: 20px;
 }
 
 .anya{
    width: 370px;
    height: 309px; 
    background: #1B3764;
    margin-left: 780px;
    margin-top: 31px;
 }
 
 .lopster__div{
    width: 370px;
    height: 309px; 
    background: #1B3764;
    margin-left: 1200px;
    margin-top: -400px;
 }