*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 .h1__what{
    color: #1B3764;
    text-align: center;
    font-family: Cardo;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 54px */
    letter-spacing: -0.9px;
    margin-top: 145px;   
 }
 
 .div__section__what{
    width: 290px;
    height: 299px;
    background: #F4F8FF;
    margin-left: 311px;
    margin-top: 105px;
 }
 
 .btn__01{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FFCA42;
    color: #1B3764;
    border: none;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 20px;
 }
 
 .div__p{
    color: #1B3764;
    font-family: Cardo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
    letter-spacing: -0.24px;
    margin-left: 20px;
    margin-top: 51px;
 }
 
 .div__card{
    width: 290px;
    height: 299px;
    background: #F4F8FF;
    margin-left: 631px;
    margin-top: -300px;
 }
 
 .div__btn__card{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FFCA42;
    color: #1B3764;
    border: none;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 20px;
 }
 
 .text__card{
    color: #1B3764;
    font-family: Cardo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
    letter-spacing: -0.24px;
    margin-left: 20px;
    margin-top: 51px;
 }
 
 .what{
    height: 1000px;
    width: 1100px;
 }
 
 .card__use{
    width: 290px;
    height: 299px;
    background: #F4F8FF;
    margin-top: 32px;
    margin-left: 310px;
 }
 
 .btn__use{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #FFCA42;
    color: #1B3764;
    border: none;
    font-size: 24px;
    margin-top: 20px;
    margin-left: 20px;
 }
 
 .text__use{
    color: #1B3764;
    font-family: Cardo;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 33.6px */
    letter-spacing: -0.24px;
    margin-left: 20px;
    margin-top: 51px;
 }
 
 .img__div{
    margin-left: 960px;
    margin-top: -630px;
 }